@import "tailwindcss";
@plugin "daisyui";
@import "../node_modules/preline/variants.css";

@layer utilities {
    .bg-radial-custom {
        background: #FFF2F7;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-position: center;
      }
}